#main{
    display: grid;
    grid-template-rows: 30em minmax(7em, auto) 15em 10em 2em;
    color: white;
    background-image: radial-gradient(circle,rgba(222,255,255,0.01),rgba(255, 100, 0, 0.5),rgba(255, 0, 0, 0.4),rgba(130, 0, 125,0.3));
    background-size: 300vw 170vh;
}
#title{
    width: 100pt;
    text-align: center;
    justify-self: center;
    align-content: center;
    animation: shrink 4s forwards;
}
#introBlock{
    color: white;
}
    #introBlock>#welcome{
        opacity: 0;
        animation: fadeIn linear forwards;
        animation-timeline: scroll();
        animation-range-start: entry;
        animation-range-end: 10em;
    }
#navBlock{
    opacity: 0;
    animation: fadeIn linear forwards;
    animation-timeline: scroll();
    animation-range-start: entry;
    animation-range-end: contain;
}
#navText>li{
    padding: 5pt;
    margin: 5pt;
    border-radius: 10pt;
    width: fit-content;
    border: 1.2pt solid white;
}
#footer{
    align-content: end;
    grid-row-end: -1;
}
*>a{
    text-decoration: none;
    color: white;
}

@keyframes shrink{
    from{padding-bottom: 300pt; padding-top: 300pt; opacity: 0;}
    to{padding-bottom: 0pt; padding-top: 0pt; opacity: 1;}
}
@keyframes fadeIn{
    from{opacity: 0; padding-top: 50pt;}
    to{opacity: 1; padding-top: 5pt}
}
